.name{
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
    display:flex;
    justify-content: center;
}

#about-me-header, #contact-info{
color: navy;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
text-align: center;
}

.about-me-paragraph{
    background-color: navy;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}


    .contact-list-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    }
