body{
    border: solid darkolivegreen 3px;
    background-image: radial-gradient( circle, rgb(219, 253, 219), white);

}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 253, 219) ;
    position: relative;
    top: 0;

}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;

}
.navbar ul li a {
    text-decoration: none;
    color: rgb(107, 147, 107);
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: darkolivegreen;
    box-shadow: 0 0 10px white;
}

/* HEADING */
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
}
#profile-img{
    height: 220px;
    width: 170px;
    border-style: 3px solid;
    border-radius: 20%;
    
}


/* BODY */
#about-me-header, #contact-info, #project-info{
color: darkolivegreen;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
}

.about-me-paragraph{
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    color: rgb(107, 147, 107);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}


.contact-info-list, .project-info-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: circle outside;
    color: rgb(107, 147, 107);
}

